{% extends 'base.html.twig' %}

{% block title %} List of Players {% endblock %}

{% block stylesheets %}
    <link href="/css/table.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1> List of Players: </h1>
    {#{% if playerDeleted is defined and playerDeleted == 'true' %}#}
        {#{% include '/flashSuccessMessage.html.twig' %}#}
    {#{% endif %}#}

    {#<ul>#}
        {#{% for player in players %}#}
            {#<li>#}
                {#Id: {{ player.id }} <br>#}
                {#Name: #}
                {#<a href="{{ url('player_show', {id: player.id}) }}"> {{ player.firstName }} {{ player.surname }} </a> <br>#}
                {#Age: {{ player.age }} <br>#}
                {#Nationality: {{ player.nationality }} <br>#}
                {#Club: {{ player.clubName }} <br>#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}

    <table>
        <tr>
            <th>
                Player
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for player in players %}
            <tr>
                <td>
                    <a href="{{ url('player_show', {id: player.id}) }}"> {{ player.firstName }} {{ player.surname }} </a>
                </td>
                <td>
                    <a href="{{ url('player_delete', {id: player.id}) }}"> Delete </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>
        <a href="{{ url('player_create_new') }}"> Add New Player</a>
    </p>
    <p>
        <a href="{{ url('homepage') }}"> Home Page </a>
    </p>
{% endblock %}