{% extends 'base.html.twig' %}

{% block title %} Create New Player {% endblock %}

{% block stylesheets %}
    <link href="/css/player.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1> Create New Player </h1>

    {# ************************* Add Flash Error Message ************************* #}
    {% include '/flashErrorMessage.html.twig' %}

    <form action="/player/processCreateNewPlayer" method="POST">
        <p>
            <label for="playerFirstName">
                <span class="player-column-width"> First Name: </span> <input type="text" class="player-first-name" id="playerFirstName" name="playerFirstName" value="{{ firstName }}">
            </label>
        </p>
        <p>
            <label for="playerSurname">
                <span class="player-column-width"> Surname: </span> <input type="text" class="player-surname" id="playerSurname" name="playerSurname" value="{{ surname }}">
            </label>
        </p>
        <p>
            <label for="playerAge">
                <span class="player-column-width"> Age: </span> <input type="number" min="16" max="45" class="player-age" id="playerAge" name="playerAge" value="{{ age }}">
            </label>
        </p>
        <p>
            <label for="playerNationality">
                <span class="player-column-width"> Nationality: </span> <input type="text" class="player-nationality" id="playerNationality" name="playerNationality" value="{{ nationality }}">
            </label>
        </p>
        <p>
            <label for="playerClub">
                <span class="player-column-width"> Club: </span> <input type="text" class="player-club-name" id="playerClubName" name="playerClubName" value="{{ clubName }}">
            </label>
        </p>
        <br>
        <input type="submit" value="Create New Student">
    </form>
{% endblock %}